<!doctype html>
<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">

  <!-- Mobile viewport optimization h5bp.com/ad -->
  <!--
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width">
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Main Stylesheet -->
  <!--
  <link rel="stylesheet" href="css/style.css">
  -->
  <link rel="stylesheet" href="css/jquery.mobile-1.1.0.css">
  <link rel="stylesheet" href="css/rect-theme.css">
  <link rel="stylesheet" href="css/tinybo.css">
  <link rel="stylesheet" href="css/iscroll.css">

  <script>
    window.onerror = function(message, url, line) {
      console.log("onerror: " + JSON.stringify(message) + "\n url: " + url + "\n line: " + line);
      return true;
    };
  </script>

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-3.0.6.min.js"></script>

  <script src="js/libs/jquery-1.7.1.min.js"></script>
  <script src="js/jqm.config.js"></script>
  <script src="js/libs/jquery.mobile-1.1.0.js"></script>
  <script src="js/libs/json2.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/backbone.localStorage.js"></script>

  <script src="js/libs/iscroll.js"></script>

  <script src="http://phonegapjs.sinaapp.com/phonegap.android-1.5.0.js"></script>
  <script src="js/tinybo.js"></script>
</head>
<body>

  <div data-role="page">
    <div id="header" data-role="header" data-position="fixed">
      <a href="#" onclick="login();">登陆</a>
      <h1>tiny bo</h1>
    </div>

    <div id="wrapper" data-role="content">
      <div id="scroller">
        <div id="pullDown">
          <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
        </div>
        <div id="statuses">
          <ul id="status-list" data-role="listview"></ul>
        </div>
        <div id="pullUp">
          <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
        </div>
      </div>
    </div>

    <div id="footer" data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><a href="#" onclick="console.log('home');" id="home" class="ui-btn-active" data-icon="custom">首页</a></li>
          <li><a href="#" onclick="console.log('recommend');" id="recommend" data-icon="custom">信息</a></li>
          <li><a href="#" onclick="console.log('me');" id="me" data-icon="custom">我的资料</a></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Templates -->
  <script type="text/template" id="status-item-template">
    <div>
      <div>
        text: <%= text %><br>
        source: <%= source %><br>
        created_at: <%= created_at %><br>
      </div>
      <div>
      </div>
    </div>
  </script>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- scripts concatenated and minified via ant build script -->
  <script src="js/helper.js"></script>
  <!-- end concatenated and minified scripts-->

  <!-- Debugger - remove for production -->
  <!-- <script src="https://getfirebug.com/firebug-lite.js"></script> -->

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    /*
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
    */
  </script>

</body>
</html>
