<!doctype html>
<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/jquery.mobile-1.1.0.css">
  <link rel="stylesheet" href="css/rect-theme.css">
  <link rel="stylesheet" href="css/tinybo.css">
  <link rel="stylesheet" href="css/iscroll.css">

  <script>
    /*
    window.onerror = function(message, url, line) {
      console.log("onerror: " + message + "\n url: " + url + "\n line: " + line);
      return true;
    };
    */
  </script>

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-2.0.6.min.js"></script>

  <script type="text/template" id="home-page" data-position="fixed">
      <div id="header" data-role="header">
        <a id="loginOrSend">登陆</a>
        <h1>tiny bo</h1>
        <a id="about">关于</a>
      </div>

      <div id="wrapper" data-role="content">
        <div id="scroller">
          <div id="pullDown">
            <span class="pullDownIcon"></span><span class="pullDownLabel">Pull down to refresh...</span>
          </div>
          <div id="statuses">
            <ul id="status-list" data-role="listview"></ul>
          </div>
          <div id="pullUp">
            <span class="pullUpIcon"></span><span class="pullUpLabel">Pull up to refresh...</span>
          </div>
        </div>
      </div>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><a href="#home" class="ui-btn-active" data-icon="custom">首页</a></li>
            <li><a href="#message"  data-icon="custom">信息</a></li>
            <li><a href="#user" data-icon="custom">我的资料</a></li>
          </ul>
        </div>
      </div>
  </script>

  <script type="text/template" id="reply-item-template">
      <img src='<%= user.profile_image_url %>' />
      <h3><%= user.screen_name %></h3>
      <p><%= text %></p>
      <p class="ui-li-aside"><%= (new Date(created_at)).format("dd日 hh:mm:ss") %></p>
      <% if (reply_comment) { %>
        <div style="background-color:#eee;margin-top:8px;">
          <p style="padding:10px;padding-bottom:0;">回复<%= reply_comment.user.screen_name %>的微博: <%= reply_comment.text %></p>
        </div>
      <% } else { %>
        <div style="background-color:#eee;margin-top:8px;">
          <p style="padding:10px;padding-bottom:0;">回复<%= status.user.screen_name %>的微博: <%= status.text %></p>
        </div>
      <% } %>
  </script>

  <script type="text/template" id="status-item-template">
    <a href="#status_detail/<%= id %>">
      <% if (deleted) { %>
        <p><%= text %></p>
      <% } else { %>
        <img src='<%= user.profile_image_url %>' />
        <h3><%= user.screen_name %></h3>
        <p><%= text %></p>
        <p class="ui-li-aside"><%= (new Date(created_at)).format("dd日 hh:mm:ss") %></p>
        <% if (thumbnail_pic) { %>
          <p style="margin-top:6px;"><img src='<%= thumbnail_pic %>' /></p>
        <% } %>
        <% if (retweeted_status.text) { %>
          <% if (retweeted_status.deleted) { %>
            <p><%= retweeted_status.text %></p>
          <% } else { %>
            <div style="background-color:#eee;margin-top:8px;">
            <p style="padding:10px;padding-bottom:0;"><span style="color:blue;">@<%= retweeted_status.user.screen_name %></span>(<%= (new Date(retweeted_status.created_at)).format("dd日 hh:mm:ss") %>): <%= retweeted_status.text %></p>
            <p style="padding:10px;"><img src='<%= retweeted_status.thumbnail_pic %>' /></p>
            </div>
          <% } %>
        <% } %>
        <div class="status-bottom">
          <span>来自:<%= $(source)[0].text %></span>
          <span class="status-bottom-right">转(<%= reposts_count %>)</span>
          <span class="status-bottom-right">评(<%= comments_count %>)</span>
        </div>
      <% } %>
    </a>
  </script>

  <script type="text/template" id="post-status-template">
      <div data-role="header" data-position="fixed">
        <a id="post_back">返回</a>
        <h1>发微博</h1>
        <a id="send">发送</a>
      </div>

      <div data-role="content">
      </div>
        <textarea id="post_content"></textarea>

      <div class="big_button_footer_five" data-role="footer" data-position="fixed">
        <a data-role="button">位置</a>
        <a data-role="button">图片</a>
        <a data-role="button">话题</a>
        <a data-role="button">提及</a>
        <a data-role="button">表情</a>
      </div>
  </script>

  <script type="text/template" id="message-page-template">
      <div data-role="header" data-position="fixed">
        <h1>我的消息</h1>

        <div data-role="navbar">
          <ul>
            <li><a id="message_at" class="ui-btn-active">@我</a></li>
            <li><a id="message_reply">评论</a></li>
          </ul>
        </div>
      </div>

      <div id="message-content" data-role="content">
      </div>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><a href="#home" data-icon="custom">首页</a></li>
            <li><a href="#message" class="ui-btn-active" data-icon="custom">信息</a></li>
            <li><a href="#user" data-icon="custom">我的资料</a></li>
          </ul>
        </div>
      </div>
  </script>

  <script type="text/template" id="message-at-template">
    <ul id="message-list" data-role="listview"></ul>
  </script>

  <script type="text/template" id="message-reply-template">
    <ul id="message-list" data-role="listview"></ul>
  </script>

  <script type="text/template" id="status-detail-page-template">
      <div data-role="header" data-position="fixed">
        <a id="status_detail_post_back">返回</a>
        <h1>微博正文</h1>
      </div>

      <div data-role="content">
        <ul id="s-d-status" data-role="listview"></ul>

        <a id="s-d-reply-list" data-role="button">回复()</a>
        <a id="s-d-repost-list" data-role="button">转发()</a>
      </div>

      <div class="big_button_footer" data-role="footer" data-position="fixed">
        <a id="s-d-reply" data-role="button">评论</a>
        <a id="s-d-repost" data-role="button">转发</a>
        <a id="s-d-collect" data-role="button">收藏</a>
      </div>
  </script>

  <script type="text/template" id="user-item-template">
      <img src='<%= profile_image_url %>' />
      <h3><%= screen_name %></h3>
      <p><%= description %></p>
  </script>

  <script type="text/template" id="friends-page-template">
      <div data-role="header" data-position="fixed">
        <h1>用户列表</h1>
      </div>

      <div data-role="content">
      </div>
  </script>

  <script type="text/template" id="user-content-template">
        <img src='<%= avatar_large %>' />
        <h3><%= screen_name %></h3>
        <div>
          <span>地址: </span><span><%= location %></span>
          <span>介绍: </span><span><%= description %></span>
        </div>
        <hr>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <a href="#friends" data-role="button">关注 <%= friends_count %></a>
          </div>
          <div class="ui-block-b">
            <a href="#my_statuses" data-role="button">微博 <%= statuses_count %></a>
          </div>
        </div>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <a href="#followers" data-role="button">粉丝 <%= followers_count %></a>
          </div>
          <div class="ui-block-b">
            <a href="bi_followers" data-role="button">互粉 <%= bi_followers_count %></a>
          </div>
        </div>
        <div class="controlgroup">
          <a href="collection" data-role="button">收藏 <%= favourites_count %></a>
        </div>
  </script>

  <script type="text/template" id="user-page-template">
      <div data-role="header" data-position="fixed">
        <h1>我的资料</h1>
      </div>

      <div data-role="content">
      </div>

      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
          <ul>
            <li><a href="#home" data-icon="custom">首页</a></li>
            <li><a href="#message" data-icon="custom">信息</a></li>
            <li><a href="#user" class="ui-btn-active" data-icon="custom">我的资料</a></li>
          </ul>
        </div>
      </div>
  </script>

  <script src="js/libs/jquery-1.7.1.min.js"></script>
  <script src="js/jqm.config.js"></script>
  <script src="js/libs/jquery.mobile-1.1.0.js"></script>

  <script src="js/libs/json2.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/libs/backbone.localStorage.js"></script>

  <script src="js/libs/iscroll.js"></script>
  <script src="js/utils.js"></script>

  <phonegap></phonegap>
  <!--
  <script src="http://phonegapjs.sinaapp.com/phonegap.android-1.5.0.js"></script>
  -->
  <!--
  <script src="http://weinre.tools.sinaapp.com/target/target-script-min.js#qhm123"></script>
  -->
  <script src="js/tinybo.js"></script>
</head>
<body>
</body>
</html>
