<div id="header" data-role="header" data-position="fixed">
  <a id="loginOrSend">登陆</a>
  <h1>tiny bo</h1>
  <a id="refresh">刷新</a>
</div>

<div id="wrapper" data-role="content">
  <div id="statuses">
    <ul id="status-list" data-role="listview"></ul>
    <div class="status_list_more">
      <span class="status_list_more_text">加载更多</span>
    </div>
  </div>
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#home" class="ui-btn-active" data-icon="custom">首页</a></li>
      <li><a href="#message"  data-icon="custom">信息</a></li>
      <li><a href="#user" data-icon="custom">我的资料</a></li>
    </ul>
  </div>
</div>
