<div data-role="header" data-position="fixed">
  <a id="status_detail_post_back">返回</a>
  <h1>微博正文</h1>
</div>

<div data-role="content">
  <ul id="s-d-status" data-role="listview"></ul>
  <br>
  <a href="#status/<%= id %>/replies" data-role="button">查看评论</a>
  <a href="#status/<%= id %>/reposts" data-role="button">查看转发</a>
</div>

<div class="big_button_footer" data-role="footer" data-position="fixed">
  <a id="s-d-reply" data-role="button">评论</a>
  <a id="s-d-repost" data-role="button">转发</a>
  <a id="s-d-collect" data-role="button">收藏</a>
</div>
