<div data-role="header" data-position="fixed">
  <a id="logout">登出</a>
  <h1 id="title">我的资料</h1>
</div>

<div data-role="content">
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#home" class="tab_home" data-icon="custom">首页</a></li>
      <li><a href="#message" class="tab_message" data-icon="custom">信息</a></li>
      <li><a href="#user/<%= window.user.get("id") %>" class="tab_user ui-btn-active" data-icon="custom">我的资料</a></li>
    </ul>
  </div>
</div>
