#home .ui-icon { background:  url(/img/glyphish-icons/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
#recommend .ui-icon { background:  url(/img/glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 22px; }
#me .ui-icon { background:  url(/img/glyphish-icons/111-user.png) 50% 50% no-repeat; background-size: 24px 22px; }
