#home .ui-icon { background:  url(../img/glyphish-icons/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
#recommend .ui-icon { background:  url(../img/glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 22px; }
#me .ui-icon { background:  url(../img/glyphish-icons/111-user.png) 50% 50% no-repeat; background-size: 24px 22px; }

.big_button_footer .ui-btn {padding:10px;width:80px;}

.big_button_footer_five .ui-btn {padding-top:10px;padding-bottom:10px;width:58px;}

#post_content {height:100px;}

.status-bottom span {font-size:12px;}

.status-bottom-right {float:right;margin-top:2px;}

.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
 border-radius: 0;
}
