#home .ui-icon { background:  url(../img/glyphish-icons/53-house.png) 50% 50% no-repeat; background-size: 24px 22px; }
#recommend .ui-icon { background:  url(../img/glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 22px; }
#me .ui-icon { background:  url(../img/glyphish-icons/111-user.png) 50% 50% no-repeat; background-size: 24px 22px; }

.big_button_footer .ui-btn {padding:10px;width:80px;}

.big_button_footer_five .ui-btn {padding-top:10px;padding-bottom:10px;width:58px;}

#post_content {height:100px;}

.status-bottom span {font-size:12px;}

.status-bottom-right {float:right;margin-top:2px;}

html, body {
  overflow: hidden;
  -webkit-user-select: none;
}

