<div data-role="header" data-position="fixed">
  <h1>最近消息</h1>

  <div data-role="navbar">
    <ul>
      <li><a id="message_at" class="ui-btn-active">@我</a></li>
      <li><a id="message_reply">评论</a></li>
    </ul>
  </div>
</div>

<div id="message-content" data-role="content">
</div>

<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="#home" class="tab_home" data-icon="custom">首页</a></li>
      <li><a href="#message" class="tab_message ui-btn-active" data-icon="custom">信息</a></li>
      <li><a href="#user/<%= window.user.get("id") %>" class="tab_user" data-icon="custom">我的资料</a></li>
    </ul>
  </div>
</div>
