<div data-role="header" data-position="fixed">
  <a id="post_back">返回</a>
  <h1>发微博</h1>
  <a id="voice" data-role="button" class="ui-btn-right" style="margin-right:55px">语音</a>
  <a id="send" data-role="button" class="ui-btn-right">发送</a>
</div>

<div data-role="content">
  <textarea id="post_content"></textarea>
  <img id="image" />
</div>

<div class="big_button_footer_five" data-role="footer" data-position="fixed">
  <a id="position" data-role="button">位置</a>
  <a id="picture" data-role="button">图片</a>
  <a id="trends" data-role="button">话题</a>
  <a id="mention" data-role="button">提及</a>
  <a id="smiles" data-role="button">表情</a>
</div>
